.ui-datatable{
	border: none;
}

.ui-datatable-tablewrapper{
	margin: 0;
}

.ui-button{
	background-color: #0000ff!important;
}

.ui-button:hover{
	background-color: #0000b9 !important;
}


.ui-button-icon-only{
	border-radius: 3px !important;
	color: white !important;
}

button .ui-icon{
	color: white !important;
}

.ui-datatable table thead tr th, .ui-datatable table tfoot tr td, .ui-datatable table thead tr th{
	color: #ffffff;
    background-color: #2206ce;
    border: solid 1px #2206ce;
}

.ui-dialog .ui-dialog-titlebar {
    color: #0000ff;
}

.ui-inputfield,.ui-selectonemenu, .ui-selectcheckboxmenu, .ui-selectonemenu .ui-selectonemenu-trigger, .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger{
    border: solid 0px #c6d6df !important;
    border-bottom: solid 1px #0000ff !important;;
    background-color: transparent;
}

.ui-selectonemenu .ui-inputfield{
	border: none !important;
}

.ui-inputfield.ui-state-hover, .ui-inputfield.ui-state-focus{
	background-color: transparent;
	color: blue !important;
	font-weight: bold !important;
	border-bottom: solid 1px #0000ff;
}

.ui-panelgrid tbody tr td {
    border-color: transparent !important;
}

.header-title{
	font-size: 33px;
}

#form table tbody{
	vertical-align: top !important;
}

.numberPlate{
	width:430px;
	height:100px;
	border: 4px solid blue;
	border-radius:2px;
	color: blue !important;
	margin: 0 auto;
	margin-bottom: 40px;
}

.numberPlate label{
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	line-height:100px;
	display: block;
	color: #0000ff;
	margin:0;
}

.ui-panelgrid {
    width: 100%;
}

.ui-fieldset {
	border-radius: 2px;
	border: solid 1px #d2d2ec;
}

.ui-fieldset-legend {
	background-color: transparent;
	border: 1px solid blue;
	color: blue;
	font-weight: bold;
}
.groupBtn{
	margin-top:30px;
	margin-bottom: 40px;
}
.groupBtn .ui-panelgrid-cell{
	text-align: center;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: 0.6 !important;
  filter: alpha(opacity=60)!important;
   border-bottom: solid 1px #ddd !important;
}